flask
flask-cors
pandas
numpy
scikit-learn
networkx
python-dotenv
transformers
torch
plotly
dash
dash-core-components
dash-html-components
dash-table
python-louvain
sentencepiece
requests
community
umap-learn
sentence-transformers
scipy
google-generativeai
gunicorn