flask==3.0.2
flask-cors==4.0.0
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
networkx==3.2.1
python-dotenv==1.0.1
transformers==4.38.2
torch==2.2.1
plotly==5.19.0
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
python-louvain==0.16
sentencepiece==0.2.0
requests==2.32.3
community==1.0.0b1